<!DOCTYPE html>
<html th:replace="~{admin_base :: layout(~{::title-and-style}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>NanemKuy | TukangTaman</title>
    </th:block>
    <style>
    </style>
</head>
<body>
<div class="container py-3" id="content">
    <div>
        <h2 class="font-weight-bolder">Tambah Tukang Taman</h2>
        <br>

        <form action="/tukang-taman/admin/add-tukang-taman" method="post">
            <div class="form-group row flex-nowrap">
                <label class="col-sm-2" for="nama-tukang-taman">Nama: </label>
                <input class="form-control col-sm-10" name="namaTukangTaman" id="nama-tukang-taman" required>
            </div>
            <div class="form-group row flex-nowrap">
                <label class="col-sm-2" for="deskripsi-tukang-taman">Deskripsi: </label>
                <input class="form-control col-sm-10" name="deskripsiTukangTaman" id="deskripsi-tukang-taman" required>
            </div>
            <div class="form-group row flex-nowrap">
                <legend class="col-sm-2 col-form-label">Kategori: </legend>
                <div class="col-sm-10">
                    <div class="form-check" th:each="kategori: ${kategoriTaman}">
                        <input class="form-check-input" type="radio" name="kategoriTukangTaman" th:value="${kategori}" th:id="${kategori}">
                        <label class="form-check-label" th:for="${kategori}" th:text="${kategori}"></label>
                    </div>
                </div>
            </div>
            <input class="col-sm-12 btn" type="submit" value="Create">
        </form>
    </div>

</div>
</body>
</html>