<!DOCTYPE html>
<html th:replace="~{admin_base :: layout(~{::title-and-style}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>NanemKuy | TukangTaman</title>
    </th:block>
</head>
<body>
<div class="container py-3 text-center" id="content">
    <div>
        <h2 class="font-weight-bolder">Konfirmasi Penghapusan Tukang Taman</h2>
        <br>
        <h4 class="font-weight-bolder" th:text="${tukangTaman.getNama()}"></h4>
        <h4 th:text="${tukangTaman.getKategori()}"></h4>
        <h4 th:text="${tukangTaman.getDeskripsi()}"></h4>
        <br>

        <form th:action="${'/tukang-taman/admin/delete-tukang-taman/' + tukangTaman.getNama()}" method="post">
            <div class="text-center">
                <a href="/tukang-taman/admin/list-tukang-taman" class="btn btn-secondary m-3">Kembali</a>
                <input class="btn m-3" type="submit" value="Hapus" />
            </div>
        </form>
    </div>
</div>
</body>
</html>