<!DOCTYPE html>
<html th:replace="~{admin_base :: layout(~{::title-and-style}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>NanemKuy | TukangTaman</title>
    </th:block>
    <style>
    </style>
</head>
<body>
<div class="container py-3" id="content">
    <h2 class="font-weight-bolder">List Tukang Taman</h2>
    <br><br>
    <a class="btn" href="/tukang-taman/admin/add-tukang-taman">Add Tukang Taman</a>
    <br><br>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th class="align-middle text-center">No</th>
                <th class="align-middle">Tukang Taman</th>
                <th class="align-middle text-center">Edit</th>
                <th class="align-middle text-center">Delete</th>
            </tr>
            </thead>
            <tbody th:each="tukangTaman: ${listTukangTaman}">
            <tr>
                <td class="align-middle text-center" th:text="${tukangTamanStat.index + 1}"></td>
                <td class="align-middle"><a th:href="${'/tukang-taman/detail/' + tukangTaman.getNama()}" th:text="${tukangTaman.getNama()}"></a></td>
                <td class="align-middle text-center"><a class="btn" th:attr="href='/tukang-taman/admin/update-tukang-taman/' + ${tukangTaman.getNama()}">Edit</a></td>
                <td class="align-middle text-center"><a class="btn" th:attr="href='/tukang-taman/admin/delete-tukang-taman/' + ${tukangTaman.getNama()}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>