<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title-and-style}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title>NanemKuy</title>
    <th:block th:fragment="title-and-style">
        <title>Beli Produk</title>
        <style>
        @media (max-width: 649.98px) {
            #content {
                width:100%;
                padding: 0px 30px;
            }
        }
        @media (min-width: 650px) {
            #content {
                width:600px;
            }
        }
        </style>
    </th:block>
</head>
<body>
<div class="mx-auto" id="content">

    <div>
        <h2 class="font-weight-bolder" th:text="${produk.getNamaTanaman()}"></h2>
        <br>
        <p><b>Jumlah Pembelian: </b> <span th:text="${produk.getJumlahPembelian()}"></span></p>
        <p><b>Harga: </b><span th:text="${produk.getHarga()}"></span></p>
    </div>

    <div>
        <h4 class="font-weight-bolder">Produk Tambahan</h4>
    <form th:attr="action='/beli-produk/sukses-menambahkan-produk'" th:object="${produk}" method="post">
        <input type="hidden" th:name="namaTanaman" th:value="${produk.getNamaTanaman()}">
        <input type="hidden" th:name="jumlahTanaman" th:value="${produk.getJumlahPembelian()}">
        <div class="form-group row flex-nowrap" th:each="ProdukTambahan: ${listProdukTambahan}"}>
            <label class="col-sm-3" th:text="${ProdukTambahan}" th:for="${ProdukTambahan}"></label>
            <input class="form-control col-sm-6" type="number" th:name="jumlah + ${ProdukTambahan}" th:id="${ProdukTambahan}" value="0" min="0">
            <p class="col-sm-3">buah</p>
        </div>
        <input class="col-sm-12 btn" type="submit" value="Tambahkan ke Cart">
    </form>
    </div>

</div>
</body>
</html>