<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title-and-style}, ~{::#content})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>Cart</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </th:block>
</head>
<body>
<div class="container py-3" id="content">
    <div class="row">
    <div class="col-6" id="keranjang">
        <div class="card" th:each="tanaman: ${carteu}">
                <div class="card-body">
                    <div th:class="${tanaman.getDeskripsi()}">
                        <h4 class="card-title" th:text="${tanaman.getDeskripsi()}"></h4>
                        <br />
                        <h5 th:text="${tanaman.getHarga()}"></h5>
                        <br />

                </div>
                </div>
        </div>
        </div>

        <div class="col-4 align-middle">
            <div id="kranjang">
            </div>
        </div>
    </div>
    <form th:action="@{/newMenu}" method="POST">
        <div class="form-group">
            <br><br>
            <select class="form-control" name="type">
                <option value="" selected="" disabled="">Select Jasa Kurir</option>
                <option value="Gosend">Gosend</option>
                <option value="Jne">Jne</option>
                <option value="Paxel">Paxel</option>
            </select>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
    </form>
    <script type="text/javascript" th:src="@{/js/cart.js}"></script>
</div>
</body>
</html>