<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title-and-style}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>Detail produk</title>
        <script>
            var namaTanaman = "[[${tanaman.getNama()}]]";
            var hargaTanaman = "[[${tanaman.getHargaDiskon()}]]";
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </th:block>
</head>
<body>
<div class="container py-3 mx-auto row" id="content">
    <div class="col-md-8 my-3 p-3">
        <h2 id="nama-tanaman" class="font-weight-bolder" th:text="${tanaman.getNama()}"></h2>
        <br>
        <h4 class="font-weight-bolder">Detail Tanaman</h4>
        <p th:text="${'Kebutuhan Cahaya: ' +tanaman.getKebutuhanCahaya()}"></p>
        <p th:text="${'Kebutuhan Air: ' +tanaman.getKebutuhanAir()}"></p>
        <br>
        <h4 class="font-weight-bolder" th:text="${'Harga: Rp.' + tanaman.getHargaDiskon()}"> </h4>
    </div>

    <div class="col-md-4 my-3 p-4 border rounded">
        <h4 class="font-weight-bolder">Beli Tanaman</h4> <br>
        <form class="mb-3" th:attr="action='/beli-produk/' + ${tanaman.getNama()}" method="post">
            <label th:for="jumlahProduk">Jumlah Tanaman: </label><br>
            <input id="jumlah-produk" class="w-100 mb-3" type="number" name="jumlahProduk" value="1" min="1">
            <p class="font-weight-bolder">Subtotal: Rp
                <span id="subtotal" th:text="${tanaman.getHargaDiskon()}"></span>
            </p>
            <input class="w-100 btn" type="submit" value="Beli">
        </form>
        <div class="mt-2" id="update-wishlist">
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/update-wishlist.js}"></script>
    <script type="text/javascript" th:src="@{/js/beli-produk.js}"></script>
</div>
</body>
</html>