<!DOCTYPE html>
<html th:replace="~{admin_base :: layout(~{::title-and-style}, ~{::#content})}" >
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>NanemKuy</title>
    </th:block>
</head>
<body>
<div class="container py-3" id="content">
    <div th:switch="${event.getDiskonEvent().getNamaEvent()}">
        <div th:case="${null}">
            Belum ada diskon event
            <a class="btn" href="/admin/tambah-event">Add Event</a>
        </div>
        <div th:case="*">
            <div class="card  ">
                <div class="card-body">
                    <h5 class="card-title" th:text="${event.getDiskonEvent().getNamaEvent()}"></h5>
                    <p class="card-text" th:text="${'Sedang berlangsung ' + event.getDiskonEvent().getNamaEvent() +
                        ' dengan diskon sebanyak ' + event.getDiskonEvent().getHargaDiskon +
                        ' yang berlaku pada ' + event.getDiskonEvent().getKriteriaDiskon()}"></p>

                    <form th:action="@{/admin/event/}" method="post">
                        <input type="submit" value="Remove Event" class="btn">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>