<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title-and-style}, ~{::#content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>Checkout Page</title>
    </th:block>
</head>
<body>
<div class="container py-12" id="content">
    <div class="row">
        <div class="col-lg-12 col-md-4 col-sm-6 col-xs-6 p-2" th:each="tanaman: ${carts}">
            <div class="card text-center text-dark">
                <div class="card-body p-3">

                    <h1 class="card-title" th:text="${tanaman}"></h1>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>

    <form th:action="@{/checkoutMenu}" method="POST">
        <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
    </form>
</div>



</body>
</html>