<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title-and-style}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>NanemKuy</title>
    </th:block>
</head>
<body>
<div class="container py-3" id="content">
    <div class="row">
        <h1 class="font-weight-bolder">Katalog</h1> <br>
        <div class="container m-4 align-middle">
            <form th:action="@{/home}" method="get">
                <label for="keyword">Keyword: </label>
                <input id="search" type="text" name="keyword">
                <!--            <button type="submit">Search by Name</button>-->
                <label for="air">Kebutuhan air: </label>
                <select name="air" id="air">
                    <option value="">Default</option>
                    <option value="Rendah">Rendah</option>
                    <option value="Sedang">Sedang</option>
                    <option value="Tinggi">Tinggi</option>
                </select>
                <label for="cahaya">Kebutuhan cahaya: </label>
                <select name="cahaya" id="cahaya">
                    <option value="">Default</option>
                    <option value="Rendah">Rendah</option>
                    <option value="Sedang">Sedang</option>
                    <option value="Tinggi">Tinggi</option>
                </select>
                <button class="btn" type="submit">Search</button>
            </form>
        </div>
        <br>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 p-2" th:each="tanaman: ${tanamans}">
            <div class="card text-center text-dark ">
                <div class="card-body p-3">
                    <a th:attr="href='/detail/' + ${tanaman.getNama()}">
                        <h1 class="card-title" th:text="${tanaman.getNama()}"></h1>
                    </a>
                    <br>
                    <h5 th:text="'Rp. ' + ${tanaman.getHargaDiskon()}"></h5>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>