<!DOCTYPE html>
<html th:replace="~{admin_base :: layout(~{::title-and-style}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>NanemKuy - List Tanaman</title>
    </th:block>
</head>
<body>
<div class="container py-3" id="content">
    <h2 class="font-weight-bolder">List Tanaman</h2>
    <br>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th class="align-middle text-center">No</th>
                    <th class="align-middle">Nama Tanaman</th>
                    <th class="align-middle text-center">Stok</th>
                    <th class="align-middle text-center">Update Stok</th>
                </tr>
            </thead>
            <tbody th:each="tanaman: ${tanamans}">
                <tr>
                    <td class="align-middle text-center" th:text="${tanamanStat.index + 1}"></td>
                    <td class="align-middle"><a th:href="${'/detail/' + tanaman.getNama()}" th:text="${tanaman.getNama()}"></a></td>
                    <td class="align-middle text-center" th:text="${tanaman.getStok()}"></td>
                    <td class="align-middle text-center"><a class="btn" th:attr="href='/admin/tambah-stok/' + ${tanaman.getNama()}">Update Stok</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>