<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title-and-style}, ~{::#content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>Checkout Page</title>
    </th:block>
</head>
<body>
<div class="container py-3" id="content">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 p-2" th:each="tanaman: ${carts}">
            <div class="card text-center text-dark">
                <div class="card-body p-3">

                    <h1 class="card-title" th:text="${tanaman.getDeskripsi()}"></h1>
                    <br />
                    <h5 th:text="${tanaman.getHarga()}"></h5>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <p>Total Harga pembelian produk : </p><h5 th:text="${hargadoang}"></h5>
    <br />
    <p>Jasa kurir yang digunakan : </p><h5 th:text="${cartu.getJasaKurir().getMerk()}"></h5>
    <br />
    <p>Total pembayaran : </p><h5 th:text="${hargatotal}"></h5>

    <form th:action="@{/checkoutMenu}" method="POST">
        <button type="submit" class="btn btn-outline-primary btn-block">Checkout</button>
    </form>
</div>



</body>
</html>