<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title-and-style}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title>NanemKuy</title>
    <th:block th:fragment="title-and-style">
        <title>Sukses Menambahkan Produk</title>
        <style>
            #content {
                width: fit-content;
            }
        </style>
    </th:block>
</head>
<body>
<div class="mx-auto" id="content">
    <div >
        <h2 class="font-weight-bolder">Sukses menambahkan produk!</h2> <br/>
        <h4>Detail Produk</h4>
        <p th:utext="${produk.getDeskripsi().replaceAll('\n', '<br />')}"></p>
        <p th:text="${'Harga total: ' + produk.getHarga()}"></p>
    </div>
    <a th:href="@{/home}" class="btn w-100">Kembali ke halaman utama</a>

</div>
</body>
</html>