<!DOCTYPE html>
<html th:replace="~{admin_base :: layout(~{::title-and-style}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>NanemKuy</title>
    </th:block>
</head>
<body>
<div class="container py-3" id="content">
    <div>
        <h3 th:text="${tanaman.getNama()}"></h3>
        <br>
        <p th:text="${'Stok sekarang:' + tanaman.getStok()}"></p>
    </div>

    <form th:attr="action='/admin/tambah-stok/' + ${tanaman.getNama()}" method="post">
        <div class="form-group">
            <label for="stokTambahan">Masukkan stok tambahan untuk tanaman: </label><br>
            <input type="number" name="stokTambahan" value="1"  class="form-control" min="1">
        </div>
        <input type="submit" value="Tambahkan Stok" class="btn">
    </form>

</div>
</body>
</html>