<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title-and-style}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>NanemKuy - Wishlist</title>
    </th:block>
</head>
<body>
<div class="container py-3" id="content">
    <h2 class="font-weight-bolder">Wishlist</h2>
    <br>
    <div class="card-group my-3">
        <span th:if="${listTanaman == null OR listTanaman.size() == 0}">
            <h4 class="text-center">Tidak ada tanaman dalam wishlist</h4>
        </span>
        <span th:if="${listTanaman}" th:each="tanaman: ${listTanaman}">
            <div class="card border m-3 p-2" style="max-width: 18rem;">
                <div class="card-body">
                    <a th:attr="href='/detail/' + ${tanaman.getNama()}">
                        <h3 class="card-title font-weight-bolder text-center" th:text="${tanaman.getNama()}"></h3>
                    </a>
                </div>
                <div class="card-footer bg-transparent text-center" th:text="${'Rp.' + tanaman.getHarga()}"></div>
            </div>
        </span>
    </div>
</div>
</body>
</html>