* {
    font-size: 1.1rem;
    font-family: sans-serif;
}

#main-content {
    padding: 40px 10px;
}

footer, nav {
    background-color: #3ea832;
}

nav {
    font-size: 1.2rem;
}

.nav-link {
    color: #ffffff!important;
}

footer {
    font-size: 2rem;
    min-height: 30px;
    color: #ffffff;
}

.btn {
    background-color: #3ea832;
    color: #ffffff;
    padding: 8px;
}

a {
    color: #3ea832;
}

a:hover {
    text-decoration: none;
    color: #184d12;
}